/* FORM STYLES */
.input-area {
    margin: 5px;
    padding: 2%;
    background: rgb(198, 197, 197);
    border-radius: 5px;
    min-width: 320px;
}

.input-area label {
    min-width: 120px;
}

.form-control {
    min-width: 150px;
}

.Form {
    width:60%;
    margin: auto;
    padding: 10px;
}

.errors {
    color: red;
}
/* END FORM STYLES */